<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fixed_assets.dao.FixedAssetDao">

    <!-- 插入固定资产 -->
    <insert id="insertFixedAsset" parameterType="com.example.fixed_assets.entity.FixedAsset" keyColumn="asset_id" keyProperty="assetId" useGeneratedKeys="true">
        INSERT INTO fixed_asset (asset_type_id, name, purchase_date, price, status)
        VALUES (#{assetTypeId}, #{name}, #{purchaseDate}, #{price}, #{status})
    </insert>

    <!-- 更新固定资产 -->
    <update id="updateFixedAsset" parameterType="com.example.fixed_assets.entity.FixedAsset">
        UPDATE fixed_asset
        SET asset_type_id = #{assetTypeId},
            name = #{name},
            purchase_date = #{purchaseDate},
            price = #{price},
            status = #{status}
        WHERE asset_id = #{assetId}
    </update>

    <!-- 删除固定资产 -->
    <delete id="deleteFixedAsset" parameterType="int">
        DELETE FROM fixed_asset WHERE asset_id = #{assetId}
    </delete>


    <select id="selectFixedAssetById" parameterType="int" resultMap="FixedAssetWithTypeResultMap">
        SELECT fa.*, at.asset_type_id as "assetType.assetTypeId", at.type_name as "assetType.typeName", at.description as "assetType.description"
        FROM fixed_asset fa
                 LEFT JOIN asset_type at ON fa.asset_type_id = at.asset_type_id
        WHERE fa.asset_id = #{assetId}
    </select>


    <select id="selectAllFixedAssets" resultMap="FixedAssetWithTypeResultMap">
        SELECT fa.*, at.asset_type_id as "assetType.assetTypeId", at.type_name as "assetType.typeName", at.description as "assetType.description"
        FROM fixed_asset fa
                 LEFT JOIN asset_type at ON fa.asset_type_id = at.asset_type_id
    </select>

    <!-- 结果映射 -->
    <resultMap id="FixedAssetWithTypeResultMap" type="com.example.fixed_assets.entity.FixedAsset">
        <id column="asset_id" property="assetId"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="name" property="name"/>
        <result column="purchase_date" property="purchaseDate"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
        <association property="assetType" javaType="com.example.fixed_assets.entity.AssetType">
            <id column="assetType.assetTypeId" property="assetTypeId"/>
            <result column="assetType.typeName" property="typeName"/>
            <result column="assetType.description" property="description"/>
        </association>
    </resultMap>

</mapper>
