<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fixed_assets.dao.FixedAssetDao">

    <!-- 插入固定资产 -->
    <insert id="insertFixedAsset" parameterType="com.example.fixed_assets.entity.FixedAsset" keyColumn="asset_id" keyProperty="assetId" useGeneratedKeys="true">
        INSERT INTO fixed_asset (asset_type_id, name, purchase_date, price,img_dir, status, useful_year)
        VALUES (#{assetTypeId}, #{name}, #{purchaseDate}, #{price},#{imgDir}, #{status}, #{usefulYear})
    </insert>

    <!-- 更新固定资产 -->
    <update id="updateFixedAsset" parameterType="com.example.fixed_assets.entity.FixedAsset">
        UPDATE fixed_asset
        SET asset_type_id = #{assetTypeId},
            name = #{name},
            purchase_date = #{purchaseDate},
            price = #{price},
            img_dir = #{imgDir},
            status = #{status},
            useful_year = #{usefulYear}
        WHERE asset_id = #{assetId}
    </update>

    <!-- 删除固定资产 -->
    <delete id="deleteFixedAsset" parameterType="int">
        DELETE FROM fixed_asset WHERE asset_id = #{assetId}
    </delete>


    <select id="selectFixedAssetById" parameterType="int" resultMap="FixedAssetWithTypeResultMap">
        SELECT fa.*, at.asset_type_id as "assetType.assetTypeId", at.type_name as "assetType.typeName", at.description as "assetType.description"
        FROM fixed_asset fa
                 LEFT JOIN asset_type at ON fa.asset_type_id = at.asset_type_id
        WHERE fa.asset_id = #{assetId}
    </select>


    <select id="selectAllFixedAssets" resultMap="FixedAssetWithTypeResultMap">
        SELECT fa.*, at.asset_type_id as "assetType.assetTypeId", at.type_name as "assetType.typeName", at.description as "assetType.description"
        FROM fixed_asset fa
                 LEFT JOIN asset_type at ON fa.asset_type_id = at.asset_type_id
    </select>
    <select id="getFixedAssetsByCondition" resultMap="FixedAssetWithTypeResultMap">
            SELECT fa.*,
            at.asset_type_id AS "assetType.assetTypeId",
            at.type_name AS "assetType.typeName",
            at.description AS "assetType.description"
            FROM fixed_asset fa
            LEFT JOIN asset_type at ON fa.asset_type_id = at.asset_type_id
            <where>
                <if test="assetId != null">
                    OR fa.asset_id = #{assetId}
                </if>
                <if test="assetTypeId != null">
                    OR fa.asset_type_id = #{assetTypeId}
                </if>
                <if test="name != null and name.trim() != ''">
                    OR fa.name LIKE CONCAT('%', #{name}, '%')
                </if>
                <if test="purchaseDate != null">
                    OR fa.purchase_date = #{purchaseDate}
                </if>
                <if test="price != null">
                    OR fa.price = #{price}
                </if>
                <if test="imgDir != null and imgDir.trim() != ''">
                    OR fa.img_dir = #{imgDir}
                </if>
                <if test="status != null and status.trim() != ''">
                    OR fa.status = #{status}
                </if>
                <!-- 添加其他需要的条件 -->
            </where>
    </select>
    <select id="getFixedAssetsGroupByAssetName" resultType="java.util.Map">
        SELECT fa.name, COUNT(fa.name) AS num
        FROM fixed_asset fa
        where fa.status = '闲置'
        GROUP BY fa.name
    </select>
    <select id="selectSomeByName" resultMap="FixedAssetWithTypeResultMap">
        SELECT fa.*,
               at.asset_type_id AS "assetType.assetTypeId",
               at.type_name AS "assetType.typeName",
               at.description AS "assetType.description"
        FROM fixed_asset fa
                 LEFT JOIN asset_type at ON fa.asset_type_id = at.asset_type_id
        WHERE fa.name LIKE CONCAT('%', #{name}, '%')
          and fa.status = '闲置'
        LIMIT #{num}
    </select>
    <select id="selectInventoryByDepartment" resultType="map">
        SELECT
            d.department_id as departmentId,
            d.name AS departmentName,
            COALESCE(SUM(fa.price), 0) AS totalPrice,
            COUNT(a.asset_id) AS totalNum
        FROM
            department d
                LEFT JOIN
            asset_allocation a ON d.name = a.department AND a.status = '审核通过'
                LEFT JOIN
            fixed_asset fa ON a.asset_id = fa.asset_id
        where d.department_id = #{departmentId}
        GROUP BY
            d.department_id
        ORDER BY
            d.department_id;
    </select>

    <!-- 结果映射 -->
    <resultMap id="FixedAssetWithTypeResultMap" type="com.example.fixed_assets.entity.FixedAsset">
        <id column="asset_id" property="assetId"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="name" property="name"/>
        <result column="purchase_date" property="purchaseDate"/>
        <result column="price" property="price"/>
        <result column="img_dir" property="imgDir"/>
        <result column="status" property="status"/>
        <result column="useful_year" property="usefulYear"/>
        <association property="assetType" javaType="com.example.fixed_assets.entity.AssetType">
            <id column="assetType.assetTypeId" property="assetTypeId"/>
            <result column="assetType.typeName" property="typeName"/>
            <result column="assetType.description" property="description"/>
        </association>
    </resultMap>

</mapper>
